# Exam R
Mark Klik & Misja Mikkers

# Introduction

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [76]:
NAME = "Mats van der Laan, #2013180#"

Fill in the cell above to provide us with your name and student number, like

NAME = "Adam Smith, #student number#"

where you replace "#student number#" with your ... (very good!)

Unfortunately, you are not allowed to work with "COLLABORATORS" in this exam.

## exam October 26th, 2018

With this R part of the exam you can earn at max. 4 points.

In the first cell of the notebook, give us your name and student number in the way indicated above.

Fill in the notebook (see below for code cells and text cells that you need to fill in).

If you look at the menus above (File, Edit, View etc.), there is one called "Cell". If you click on this, you can change the "Cell Type". Choose "Code" when you are typing python or R code. Choose "Markdown" when you are typing, well, markdown.

When you finish the notebook, make sure that you save it with the output of your code included.

Then put it on github, e.g. by dragging it onto github (see instructions below).

Finally, add a link to your README file with the name of this exam: "Exam R September 7, 2018".

# Packages

You will need the following packages for this exam.

In [115]:
library(dplyr)
library(tidyverse)

ERROR: Error: package or namespace load failed for 'tidyverse' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 there is no package called 'lattice'

# Assignment 1

## Data

Please read in "resit.csv" and check the structure.

If needed change the variables e and x1 into a numeric variable.

Hint: don't forget you cannot change a factor in a numeric variable directly!

In [106]:
data1 <- read.csv2("../Resit/resit.csv")
str(data1)

'data.frame':	100 obs. of  3 variables:
 $ Obs: int  1 2 3 4 5 6 7 8 9 10 ...
 $ e  : num  47 58.9 55.6 51.5 49.2 ...
 $ x1 : num  0.3 23.39 9.4 5.24 4.63 ...

# Data manipulation

We will construct the variable "y". You have to create the variable "y" with the formula:

$$ 10 + 3*x1 + e $$

Show the head of your data

In [110]:
head(data1)
data2 <- data1 %>% 
mutate(y = 10 + 3*x1 + e) 
head(data2)

  Obs e        x1
1 1   47.00774  0.3003487
2 2   58.86894 23.3893148
3 3   55.57487  9.3985674
4 4   51.54298  5.2412200
5 5   49.23160  4.6296740
6 6   51.38015 21.6645190

  Obs e        x1         y
1 1   47.00774  0.3003487  57.90879
2 2   58.86894 23.3893148 139.03688
3 3   55.57487  9.3985674  93.77057
4 4   51.54298  5.2412200  77.26664
5 5   49.23160  4.6296740  73.12062
6 6   51.38015 21.6645190 126.37371

## Regression 

You will now have to run a regression with y as a function of x1. Show the summary statistics.

In [112]:
reg1 <- lm(data = data2, y ~ x1)
summary(reg1)

Call:
lm(formula = y ~ x1, data = data2)

Residuals:
     Min       1Q   Median       3Q      Max
-11.1043  -2.6276   0.1408   3.1398   9.8601

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 58.67251    0.94578   62.04   <2e-16 ***
x1           3.08451    0.04892   63.05   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 4.606 on 98 degrees of freedom
Multiple R-squared:  0.9759,	Adjusted R-squared:  0.9757
F-statistic:  3975 on 1 and 98 DF,  p-value: < 2.2e-16

## Plot

Now you have to make a scatter plot of the data:

* with x1 on the x-axis
* y on the y-axis
* the regression line in green, with confidence interval
* in a light theme